/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.header {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 8px;
    font-weight: bold;
}

.links {
    display: flex;
    list-style: none;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    padding: 8px;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

/* Section One */
.section.one {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.one-left {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.one-h1 {
    font-size: 36px;
    margin: 0;
}

.one-p {
    font-size: 14px;
    margin: 0 0 8px 0;

}

.one-button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: 96px;
    height: 36px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.one img {
    padding: 40px;
}

/* Section Two */
.section.two {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.two h1 {
    text-align: center;
    font-size: 36px;
}

.two-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.two-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.two-container p {
    text-align: center;
}

.two-square {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 25px;
    margin: 16px;
}

/* Section Three */
.section.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 400px;
    flex: 1;
}

.quote {
    font-size: 20px;
    font-style: italic;
    color: #1F2937;
    text-align: center;
    margin-bottom: 8px;
}

.signature {
    font-weight: bold;
    font-size: 16px;
    margin-left: auto;
}

/* Section Four */
.section.four {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.four-incepted {
    background-color: #3882F6;
    border-radius: 12px;
    padding: 24px 36px;
    display: flex;
}

.text-container {
    display: flex;
    flex-direction: column;
}

.text-container h4 {
    margin: 0;
}

.text-container p {
    margin: 0;
}

.four button {
    padding: 8px 12px;
    color: white;
    background: none;
    border-radius: 12px;
    border: 2px solid white;
    margin-left: 16px;
    cursor: pointer;
}

/* Footer */
.footer {
    height: 5vh;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer h6 {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}
